*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  background-color: rebeccapurple;
}

.library-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.library-sidebar {
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.library-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.new-book-button {
  padding: 10px 20px;
  background-color: #f45b69;
  border: 0;
  border-radius: 12px;
}

.new-book-button:hover {
  cursor: pointer;
  color: white;
}

.library-main {
  border: 1px solid black;
  background-color: tan;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 25px;
  gap: 15px;
  text-align: center;
  min-width: 200px;
  display: grid;
}

.book-title,
.book-author,
.book-pages {
  font-size: 1.2rem;
}

.book-title {
}

.book-author {
}

.book-pages {
}

.book-button {
  padding: 5px;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
}

.book-button:hover {
  cursor: pointer;
  color: white;
}

.del-button {
  background-color: rgb(20, 129, 129);
}

.pop-up-form {
  position: fixed;
  background-color: #9fd4ff;
  border-radius: 12px;
  padding: 25px;
  top: 40%;
  left: 40%;
  display: none;
  grid-template-columns: 1fr;
}

.pop-up-form h2 {
  font-size: 1.2rem;
  text-align: center;
}

.pop-up-list {
  margin: 20px 0;
  list-style-type: none;
  display: grid;
  gap: 5px;
}

.pop-up-item {
  display: grid;
  gap: 5px;
}

.pop-up-item label {
}

.pop-up-item input {
  padding: 5px;
  border: 0;
}

.pop-up-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.pop-up-button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
}
